<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/estilo.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/icons/bootstrap-icons.css">
  <title><%= title %></title>
  <% if (typeof head !== 'undefined') { %>
    <%- head %>
  <% } %>
</head>
<body>
  <main id="app">
    <%- include('../partials/header') %>
    <%- body %>
  </main>
  
  <%- include('../partials/footer') %>
  <%- footer %>
</body>
</html>
